.button {
    color: var(--light-color);
    background-color: var(--main-color);
    border-radius: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border: none;
}

.button span {
    font-size: 10px;
    font-weight: 800;
}

.button img {
    margin-left: 10px;
    width: 16px;
    height: 16px;
}