@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --main-color: #8d5cd3;
  --second-color: #747c85;
  --dark-color: #191919;
  --light-dark-color: #212123;
  --gray-color: #38383a;
  --light-color: #fbfbfb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
  color: var(--light-color);
}

body {
  background-color: var(--light-dark-color);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #38383a;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--dark-color);
  border-radius: 20px;
}